<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.familytree.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="de.familytree.rcp.Perspective"
            id="de.familytree.rcp.perspective">
      </perspective>
   </extension>
   <extension
         id="familytree_product"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.familytree.rcp.application"
            name="Family Tree">
         <property
               name="appName"
               value="Family Tree">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/de.familytree.rcp/css/default.css">
         </property>
         <property
               name="applicationXMI"
               value="platform:/plugin/de.familytree.rcp/Application.e4xmi">
         </property>
      </product>
   </extension>

</plugin>
