<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="familytree_product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="Family Tree">
         <property
               name="appName"
               value="Family Tree">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/de.familytree.rcp/css/default.css">
         </property>
      </product>
   </extension>
   <extension
         id="familytree_ecp_product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="Family Tree">
         <property
               name="appName"
               value="Family Tree">
         </property>
      </product>
   </extension>


</plugin>
